name: TWRP 16 Builder

on:
  workflow_dispatch:
    inputs:
      TWRP_MANIFEST_URL:
        description: "TWRP manifest url"
        required: true
        default: "https://github.com/TWRP-Test/platform_manifest_twrp_aosp"
      TWRP_MANIFEST_BRANCH:
        description: "TWRP branch"
        required: true
        default: "twrp-16.0"
      DEVICE_TREE_URL:
        description: "Device tree url"
        required: true
        default: "https://github.com/wajidsnaa/android_device_xiaomi_houji"  # 更改为小米14的设备树URL
      DEVICE_TREE_BRANCH:
        description: "Device tree branch"
        required: true
        default: "matrix-16"  # 使用现有的Android 16分支
      DEVICE_PATH:
        description: "Device path device/"
        required: true
        default: "xiaomi/houji"  # 更新为小米14设备路径
      DEVICE_NAME:
        description: "Device name"
        required: true
        default: "houji"  # 小米14设备名称
      LUNCH_TARGET:
        description: "lunch twrp_ (default same as device name)"
        required: false
        default: ""
      BUILD_PARTITION:
        description: "Build partition"
        required: true
        default: "recovery"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Show build info
      run: |
        if [ -n "${{ github.event.inputs.LUNCH_TARGET }}" ]; then
          echo "LUNCH_TARGET=${{ github.event.inputs.LUNCH_TARGET }}" >> "$GITHUB_ENV"
        else
          echo "LUNCH_TARGET=${{ github.event.inputs.DEVICE_NAME }}" >> "$GITHUB_ENV"
        fi
        {
          echo 'BUILD_INFO<<EOF'
          echo
          echo Manifest url: ${{ github.event.inputs.TWRP_MANIFEST_URL }}
          echo Manifest branch: ${{ github.event.inputs.TWRP_MANIFEST_BRANCH }}
          echo Device tree url: ${{ github.event.inputs.DEVICE_TREE_URL }}
          echo Device tree branch: ${{ github.event.inputs.DEVICE_TREE_BRANCH }}
          echo Device path: ${{ github.event.inputs.DEVICE_PATH }}
          echo Device name: ${{ github.event.inputs.DEVICE_NAME }}
          echo Lunch target: ${{ github.event.inputs.LUNCH_TARGET }}
          echo Build target: ${{ github.event.inputs.BUILD_PARTITION }}.img
          echo Build date: `date`
          echo
          echo EOF
        } >> "$GITHUB_ENV"
        echo BUILD_DATE=`date +%F` >> "$GITHUB_ENV"
        echo "REPO_NAME=$(basename ${{ github.event.inputs.TWRP_MANIFEST_URL }})" >> "$GITHUB_ENV"

    - name: Cleanup
      uses: rokibhasansagar/slimhub_actions@main

    - name: Maximize build space
      uses: easimon/maximize-build-space@master

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true

    - name: Setup zram
      run: |
        sudo apt install linux-modules-extra-$(uname -r) zram-tools -y
        sudo modprobe zram
        sudo sed -i 's/^#PERCENT=50/PERCENT=90/' /etc/default/zramswap
        sudo sed -i 's/^#PRIORITY=100/PRIORITY=1000/' /etc/default/zramswap
        sudo systemctl restart zramswap
        zramctl

    - name: Setup environment
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt update && sudo apt upgrade -y
        sudo apt install repo -y
        git config --global user.name ${{ github.actor }}
        git config --global user.email ${{ github.actor }}@users.noreply.github.com

    - name: Sync source
      run: |
        repo init -u ${{ github.event.inputs.TWRP_MANIFEST_URL }} -b ${{ github.event.inputs.TWRP_MANIFEST_BRANCH }} --depth=1
        (while true; do echo "Syncing source..."; sleep 60; done) &  # 保持同步状态
        TIP_PID=$!
        repo sync
        kill $TIP_PID && exit 0

    - name: Setup device
      run: |
        git clone ${{ github.event.inputs.DEVICE_TREE_URL }} -b ${{ github.event.inputs.DEVICE_TREE_BRANCH }} device/${{ github.event.inputs.DEVICE_PATH }}

    - name: Generate build info
      run: |
        echo -e "$BUILD_INFO" >> INFO.txt
        echo "Change log:" >> INFO.txt
        set +e
        LAST_TAG=$(git describe --tags --abbrev=0 2>/dev/null)
        if [ $? -eq 0 ]; then
          git log "$LAST_TAG"..HEAD --pretty=format:"- %h-%an: %s" >> INFO.txt
        else
          git log --pretty=format:"- %h-%an: %s" >> INFO.txt
        fi
        cat INFO.txt
      working-directory: device/${{ github.event.inputs.DEVICE_PATH }}

    - name: Build TWRP
      run: |
        source build/envsetup.sh
        export ALLOW_MISSING_DEPENDENCIES=true
        export CCACHE_DIR=.ccache
        export CCACHE_EXEC=$(command -v ccache)        
        export CCACHE_MAXSIZE=5G
        export USE_CCACHE=1
        lunch twrp_${{ env.LUNCH_TARGET }}
        (while true; do echo `date +%T` "Building TWRP..."; free -h; sleep 10; done) &  # 保持构建状态
        TIP_PID=$!
        m ${{ github.event.inputs.BUILD_PARTITION }}image
        mv out/target/product/${{ github.event.inputs.DEVICE_NAME }}/${{ github.event.inputs.BUILD_PARTITION }}.img out/target/product/${{ github.event.inputs.DEVICE_NAME }}/TWRP-3.7.1-16-${{ github.event.inputs.DEVICE_NAME }}-${{ env.BUILD_DATE }}.img
        kill $TIP_PID && exit 0

    - name: Upload to Release
      uses: softprops/action-gh-release@v2
      with:
        files: | 
          out/target/product/${{ github.event.inputs.DEVICE_NAME }}/TWRP-3.7.1-16-${{ github.event.inputs.DEVICE_NAME }}-${{ env.BUILD_DATE }}.img
        name: TWRP-3.7.1-16-${{ github.event.inputs.DEVICE_NAME }}-${{ env.BUILD_DATE }}-${{ github.run_id }}
        tag_name: ${{ env.BUILD_DATE }}-${{ github.run_id }}
        body_path: device/${{ github.event.inputs.DEVICE_PATH }}/INFO.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
